/*MEDIAQUERY*/
@media(max-width: 550px){
    .card-width figcaption{
        font-size: 0.6em;
    }
}
@media(max-width:991px){
    .card-width{
        max-width: 30% !important;
        flex-shrink: 0;
    }
}
@media(max-width:380px){
    .cards-p{
        display: none;
    }
    .card-width figcaption{
        display: none;
    }
}

/*CLASSES*/
.card-width{
    max-width: 20%;
    flex-shrink: 0;
}