body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    margin: 0;
    padding: 100px 100px 50px 100px;
    position: auto;
    text-align: center;  
}
.box h1{
    margin: 10px;
    font-weight: 900;
    font-size: 4em;
}
.box input[type="text"], .box input[type="password"]{
    border: 0;
    background-color: rgb(238, 238, 238);
    display: block;
    margin: 8px auto;
    text-align: center;
    border: 3px solid rgb(94, 94, 94);
    border-radius: 20px;
    padding: 10px 100px;
    width: auto;
}
.box input[type="text"]:hover, .box input[type="password"]:hover{
    width: 365px;
    border-color: #000000;
}
.submit-btn{
    color: white;
    border: 0;
    background-color: #1b1b1b;
    display: block;
    margin: 8px auto;
    text-align: center;
    border: 3px solid rgb(94, 94, 94);
    border-radius: 20px;
    padding: 10px 100px;
    cursor: pointer;
}
.submit-btn:hover{
    width: 270px;
    text-align: center;
    border-color: #000000;
}
.cad{
    margin: 0;
    padding: 0px 45px 20px 45px;
    text-decoration: none;
    font-size: 1.8em;
    background-color: none;
    text-align: center;
}